﻿@model string
           
<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "control-label" })
    @Html.TextBoxFor(model => model, new
{
    @class = "form-control",
    @title = ViewData.ModelMetadata.Description,
    @placeholder = ViewData.ModelMetadata.Watermark
})
    @Html.ValidationMessageFor(model => model)
</div>

@*@model string
<div class="form-group">
    @Html.LabelFor(x => x, new { @class = "control-label" })
    @{
        string placeHolder = ViewData.ModelMetadata.Watermark;
        string title = ViewData.ModelMetadata.Description;
        string maxLength = "";
        IEnumerable<ModelValidator> validators = ModelValidatorProviders.Providers.GetValidators(ViewData.ModelMetadata, ViewContext);
        ModelClientValidationRule rule = validators.SelectMany(v => v.GetClientValidationRules()).FirstOrDefault(m => m.ValidationType == "length");
        if (rule != null && rule.ValidationParameters.ContainsKey("max"))
        {
            maxLength = rule.ValidationParameters["max"].ToString();
        }

    }
    @if (maxLength.Length > 0)
    {
        @Html.TextBoxFor(model => model, new { @class = "form-control", placeholder = @placeHolder, title = @title, maxlength = @maxLength })
    }
    else
    {
        @Html.TextBoxFor(model => model, new { @class = "form-control", placeholder = @placeHolder, title = @title })
    }
    @Html.ValidationMessageFor(x => x)
</div>*@